<!--name: Ross McLean-->
<!--date: 17/05/20-->

@model CycletexBikesMvc.ViewModels.CreateBookingViewModel
@{ViewBag.Title = "Create Booking";}
@section styles {@Styles.Render("~/Content/bootstrap-datetimepicker")}

<section class="">
    <div class="container">
        <br />
        <h1 class="mb-5">Create Booking</h1>
        <br />
        <hr />
        @Html.Partial("_Notifications")

        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bikes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedBikeId, Model.Bikes, "Select", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bikes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BikeService, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BikeService, Model.BikeServices, new { @class = "form-control", @id = "ddlObject" })
                        @Html.ValidationMessageFor(model => model.BikeServices, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* HTML for Twilio outgoing number *@
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, "phone number", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @* Limiting number length to exactly 11 *@
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @maxlength = "11", @minlength = "11" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "This field is required so we may notify you. Do NOT replace the first zero of your number with an area code - It will work without it", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>

                <p>Total: </p>
            }
        </div>
    </div>
</section>

<script>
    // bootstrap-datetimepicker function
    // Provides a functioning calendar and time picker
    $(function () {
        $('#Date').datetimepicker(
        {
            format: 'DD-MMM-YYYY HH:mm',
            sideBySide: true,
            showTodayButton: true,
            // Using FontAwesome glyphs because Bootstrap glyphs are not included in the Bootstrap NuGet package
            // Initially I was going to use the official CDN however it had an adverse effect on the greater UI
            // by overriding all of the sites CSS and greatly decreasing the size of all elements
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-chevron-left",
                next: "fa fa-chevron-right",
                today: "fa fa-clock-o",
                clear: "fa fa-trash-o"
            }
        });
    });
</script>
@section scripts {@Scripts.Render("~/bundles/bootstrap-datetimepicker")}