<!--name: Ross McLean-->
<!--date: 15/05/20-->
@using CycletexBikesMvc.Models;
@using Microsoft.AspNet.Identity;

@model IEnumerable<CycletexBikesMvc.Models.Booking>
@{ViewBag.Title = "Your Bookings";}

<h2>Your Bookings</h2>
<br />
@Html.Partial("_Notifications")
<hr />
<p>
    @Html.ActionLink("Create New", "Create", "Booking", new { id = User.Identity.GetUserId() })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @if (item.IsPaid == true)
                {
                    CycletexBikesMvc.Models.ApplicationDbContext context = new CycletexBikesMvc.Models.ApplicationDbContext();
                    int bookingId = item.Id;
                    int PaymentId = 0;
                    foreach (Payment payment in context.Payments)
                    {
                        if (payment.BookingId == bookingId) { PaymentId = payment.Id; }
                    }

                    @Html.ActionLink("Payment Details", "Details", "Payment", new { id = PaymentId }, null)
                }
                else
                {
                    @Html.ActionLink("Pay Now", "MakePayment", "Payment", new { userId = User.Identity.GetUserId(), bookingId = item.Id }, null)
                }
            </td>
        </tr>
    }
</table>