
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            @Html.ActionLink("CycleTex", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-link">
                    @Html.ActionLink("Services", "Index", "Service", null, new { @class = "nav-link" })
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Customer"))
                    {
                        <li class="nav-item nav-link">
                            @Html.ActionLink("Create a Booking", "Create", "Booking", null, new { @class = "nav-link" })
                        </li>
                    }

                }
                else
                {
                    <li class="nav-item nav-link">
                        @Html.ActionLink("Create a Booking", "Login", "Account", null, new { @class = "nav-link" })
                    </li>
                }
                <!-- TODO: This link format could potentially stop nav links from navigating to /Home/Index each time. -->
                @*<li class="nav-item">
                        <a onclick="location.href='@Url.Action("CreateAppointment", "TempUser")'" class="nav-link">Book Appoinment</a>
                    </li>*@


                <!-- Login/register buttons -->
                @Html.Partial("_loginPartial")
            </ul>
        </div>
    </div>
</nav>