<!--name: Ross McLean-->
<!--date: 12/05/20-->

@using Microsoft.AspNet.Identity;

<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            @Html.ActionLink("CycleTex", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-link">
                    @Html.ActionLink("Services", "Index", "Service", null, new { @class = "nav-link" })
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Customer"))
                    {
                        // Passing in logged in users Id to validate in GET action. This way, only a logged in Customer can access the page
                        <li class="nav-item nav-link">
                            @Html.ActionLink("Create a Booking", "Create", "Booking", new { id = User.Identity.GetUserId() }, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item nav-link">
                            @Html.ActionLink("My Bookings", "ViewAllCustomersBookings", "Booking", new { id = User.Identity.GetUserId() }, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item nav-link">
                            @Html.ActionLink("Manage Debit Cards", "ViewAllCustomersCards", "DebitCard", new { id = User.Identity.GetUserId() }, new { @class = "nav-link" })
                        </li>
                    }

                    if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item nav-link">
                            @Html.ActionLink("View All Bookings", "ViewAllBookings", "Booking", new { id = User.Identity.GetUserId() }, new { @class = "nav-link" })
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item nav-link">
                        @Html.ActionLink("Create a Booking", "Login", "Account", null, new { @class = "nav-link" })
                    </li>
                }
                @* Login/register buttons *@
                @Html.Partial("_loginPartial")
            </ul>
        </div>
    </div>
</nav>